 <div class="clr-row">
    <div class="clr-col-12">
      <div class="card">
        <div class="card-header">
      Faunatoren 1
      </div>
      </div>
    </div>
  </div>

<div class="first-row">
  <div class="clr-row">
    <div class="clr-col-lg-4 clr-col-md-8 clr-col-12">
      <div class="card">
        <div class="card-header">
          <div class="first-header">
          Vogels van vandaag</div>
        </div>
        <div class="card-block">
          <div class="card-text">
            73
          </div>
        </div>
        <div class="card-footer">
          <cds-icon shape="exclamation-circle"></cds-icon>
            <div>Registraties 1/3/2021</div>
        </div>
      </div>
    </div>
    <div class="clr-col-lg-8 clr-col-md-8 clr-col-12">
      <div class="card">
        <div class="card-header">
          Activiteit huisjes
        </div>
        <div class="card-block">
          <div class="chart-container">
           <ngx-charts-bar-horizontal
           [scheme]="colorScheme"
           [legend]="legend"
           [showXAxisLabel]="showXAxisLabel"
           [showYAxisLabel]="showYAxisLabel"
           [xAxis]="xAxis"
           [yAxis]="yAxis"
           [xAxisLabel]="'xAxisLabel'"
           [yAxisLabel]="'yAxisLabel'"
           [results]="surveyData"
           >
           </ngx-charts-bar-horizontal>
          </div>
        </div>
        <div class="card-footer">
            <div>Registraties 1/3/2021</div>
        </div>
      </div>
    </div>    
  </div>
</div>

<div class="second-row">
  <div class="clr-row">
    <div class="clr-col-lg-4 clr-col-md-8 clr-col-12">
      <div class="card">
        <div class="card-header">
          Klimaat per huisje
        </div>
        <div class="card-block">
        <div class="wrapper">
        <div class="bubble-container">
           <ngx-charts-bubble-chart
             [view]= "[300 , 300]"
             [scheme]="colorScheme"
             [results]="bubbleData"
             [xAxis]="xAxis"
             [yAxis]="yAxis"
             [showXAxisLabel]= "showXAxisLabel"
             [showYAxisLabel]= "showYAxisLabel"
             [xAxisLabel]= "'Tijd'"
             [yAxisLabel]= "'Temperatuur in °C'">
           </ngx-charts-bubble-chart>
          </div>
        </div>
        </div>
        <div class="card-footer">
            Registraties 1/3/2021
        </div>
      </div>
    </div>

    <div class="clr-col-lg-3 clr-col-md-7 clr-col-12">
      <div class="card">
        <div class="card-header">
          Meest actieve huisjes
        </div>
        <div class="card-block">
          <div class="card-text">
            Huisje 2
            <a>34</a>
          </div>
          <div class="card-text">
            Huisje 12
            <a>13</a>
          </div>
          <div class="card-text">
            Huisje 6
            <a>4</a>
          </div>
          <div class="card-text">
            Huisje 7
            <a>1</a>
          </div>
        </div>
        <div class="card-footer">
            <div>Registraties 1/3/2021</div>
        </div>
      </div>
    </div>
    <div class="clr-col-lg-5 clr-col-md-9 clr-col-12">
      <div class="card">
        <div class="card-header">
          Percentage aanwezigheid huisjes
        </div>
        <div class="card-block">
          <div class="wrapper" >
          <div class="pie-container">
           <ngx-charts-pie-chart
             [view]= "[300, 150]"
             [scheme]="colorScheme"
             [results]="single"
             [labels]="showLabels"
             [doughnut]=true
             >
           </ngx-charts-pie-chart>
          </div>
          </div>
        </div>
        <div class="card-footer">
            <div>Registraties 1/3/2021</div>
        </div>
      </div>
    </div>
  </div>
</div>





