//styling
$textcolor: #069E2D;

$backgroundcolor: #D8FEE7;

$iconcolor: #058A45;
$iconfont: 'Arial';

$hyperlink: #036316;

$highlightselect: #023B0A;

$torenA: #FF5400;
$torenB: #A26D1E;       
$torenC: #0F80F1;

.clr-row {
    height: 10em;
    width: 35em;
    border: 20px;
    border-color: $backgroundcolor;
    position: absolute;
    & .card {
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }
    & .card-header{
        font-size: 1em;
        color: $highlightselect;
        text-align: center;
    }
    & .card-text {
        font-size: 4em;
        text-align: center;
        color: $torenA;
    }
    & .card-footer {
        font-size: 1em;
        color: $highlightselect;
        text-align: center;
    }
}

.chart-bar-container {
    background-color: white;
    margin-bottom: 100%;
    height: 50%;
    width: 70%;
    float: right;
    margin-top: 2em;
    margin-left: 16em;
    position: absolute;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

ngx-charts-bar-vertical {
    position: center;
}

.timeline-container {
    background-color: white;
    width: 82%;
    margin-top: 40em;
    position: absolute;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.clr-timeline clr-timeline-horizontal {
    float: none;
}
