<header class="header">
  Faunatoren 1
</header>


<div class="clr-row">
    <div class="clr-col-lg-5 clr-col-md-8 clr-col-12">
      <div class="card">
        <div class="card-header">
          Totale aanwezigheid
        </div>
        <div class="card-block">
          <div class="card-text">
            400
          </div>
        </div>
        <div class="card-footer">
            <div>Vogel registraties sinds 1/3/2021</div>
        </div>
      </div>
    </div>
  </div>

<div class="chart-bar-container">
<ngx-charts-bar-vertical
[results]="surveyData"
[xAxisLabel]="'Aantal'"
[legendTitle]="'Legenda'"
[yAxisLabel]="'Soort vogel'"
[legend]="true"
[showXAxisLabel]="true"
[showYAxisLabel]="true"
[xAxis]="true"
[yAxis]="true"
[gradient]="false">
</ngx-charts-bar-vertical>
</div>


