<div class="clr-row">
    <div class="clr-col-lg-5 clr-col-md-8 clr-col-12">
      <div class="card">
        <div class="card-header">
          Totale aanwezigheid
        </div>
        <div class="card-block">
          <div class="card-text">
            400
          </div>
        </div>
        <div class="card-footer">
            <div>Vogel registraties op sinds 1/3/2021</div>
        </div>
      </div>
    </div>
  </div>





<ul class="clr-timeline clr-timeline-horizontal">
    <li class="clr-timeline-step disabled">
      <div class="clr-timeline-step-header">11:59 am</div>
      <cds-icon shape="circle" aria-label="Not started"></cds-icon>
      <div class="clr-timeline-step-body">
        <span class="clr-timeline-step-title">Add KMS</span>
        <span class="clr-timeline-step-description">Root CA certificate requested.</span>
      </div>
    </li>
    <li class="clr-timeline-step">
      <div class="clr-timeline-step-header">11:59 am</div>
      <cds-icon shape="dot-circle" aria-current="true" aria-label="Current"></cds-icon>
      <div class="clr-timeline-step-body">
        <span class="clr-timeline-step-title">Add KMS</span>
        <span class="clr-timeline-step-description">
          Root CA certificate requested. Upload it to the KMS to complete the connection.
          <button class="btn btn-sm">Action</button>
        </span>
      </div>
    </li>
    <li class="clr-timeline-step">
      <div class="clr-timeline-step-header">11:59 am</div>
      <clr-spinner clrMedium aria-label="In progress">Fetching data</clr-spinner>
      <div class="clr-timeline-step-body">
        <span class="clr-timeline-step-title">Make vCenter trust KMS</span>
        <span class="clr-timeline-step-description">
          Root CA certificate requested. Upload it to the KMS to complete the connection. Third sentence is very long and
          very long.
        </span>
      </div>
    </li>
    <li class="clr-timeline-step">
      <div class="clr-timeline-step-header">11:59 am</div>
      <cds-icon shape="success-standard" aria-label="Completed"></cds-icon>
      <div class="clr-timeline-step-body">
        <span class="clr-timeline-step-title">Make KMS trust vCenter</span>
        <span class="clr-timeline-step-description"
          >Upload it to the KMS to complete the connection. Third sentence.
          <button class="btn btn-sm btn-link">Action</button>
        </span>
      </div>
    </li>
    <li class="clr-timeline-step">
      <div class="clr-timeline-step-header">11:59 am</div>
      <cds-icon shape="error-standard" aria-label="Error"></cds-icon>
      <div class="clr-timeline-step-body">
        <span class="clr-timeline-step-title">Connected</span>
        <span class="clr-timeline-step-description">No. It's not connected.</span>
      </div>
    </li>
  </ul>


<ngx-charts-bar-vertical
[view]="[800,300]"
[results]="surveyData"
[xAxisLabel]="'Aantal'"
[legendTitle]="'Legenda'"
[yAxisLabel]="'Soort vogel'"
[legend]="true"
[showXAxisLabel]="true"
[showYAxisLabel]="true"
[xAxis]="true"
[yAxis]="true"
[gradient]="true">
</ngx-charts-bar-vertical>