<div class="stream-container">
  <div class="clr-row">
    <div class="clr-col-12">
      <div class="card">
        <div class="card-header">
          Uitgelicht
        </div>
         <div class="card-block">
        <iframe type="text/html" width="854" height="480" src="https://www.youtube.com/embed/live_stream?channel=UCVtdo4OmU52nCGX9NcOesAw&autoplay=1" ></iframe>  
      </div>
      </div>
    </div>
  </div>

  <div class="stream-recent">
    <div class="clr-row">
        <div class="clr-col-12">
          <div class="card">
            <div class="card-header">
              Stream recent
              </div>
            <div class="card-block">
              <div class="recent-vids">
                <div class= "clr-row">

            <div class="clr-col-lg-3 clr-col-md-6 clr-col-12">
            <iframe id="myIframe"
              src="https://www.youtube.com/embed/live_stream?channel=UCZXZQxS3d6NpR-eH_gdDwYA"></iframe>
            </div>
  
            <div class="clr-col-lg-3 clr-col-md-6 clr-col-12">
            <iframe id="myIframe"
                src="https://www.youtube.com/embed/live_stream?channel=UCZXZQxS3d6NpR-eH_gdDwYA"></iframe>
            </div>
    
            <div class="clr-col-lg-3 clr-col-md-6 clr-col-12">
            <iframe id="myIframe"
                src="https://www.youtube.com/embed/live_stream?channel=UCZXZQxS3d6NpR-eH_gdDwYA"></iframe>
            </div>
    
            <div class="clr-col-lg-3 clr-col-md-6 cr-col-12">
            <iframe id="myIframe"
                src="https://www.youtube.com/embed/live_stream?channel=UCZXZQxS3d6NpR-eH_gdDwYA"></iframe>
            </div>
           </div>
           </div>
          </div>
          </div>
        </div>
      </div>
</div>

      <div class="clr-row">
        <div class="clr-col-12">
          <div class="card">
            <div class="card-header">
              Alle streams
              </div>

      <div class="card-block">
    <div class="clr-row">
    
      <div class="clr-col-lg-3 clr-col-md-6 clr-col-12">
    <iframe 
        src="https://www.youtube.com/embed/live_stream?channel=UCZXZQxS3d6NpR-eH_gdDwYA"></iframe>
        </div>

      <div class="clr-col-lg-3 clr-col-md-6 clr-col-12">
    <iframe 
        src="https://www.youtube.com/embed/live_stream?channel=UCZXZQxS3d6NpR-eH_gdDwYA"></iframe>
        </div>

      <div class="clr-col-lg-3 clr-col-md-6 clr-col-12">
    <iframe 
        src="https://www.youtube.com/embed/live_stream?channel=UCZXZQxS3d6NpR-eH_gdDwYA"></iframe>
        </div> 

      <div class="clr-col-lg-3 clr-col-md-6 clr-col-12">
    <iframe 
        src="https://www.youtube.com/embed/live_stream?channel=UCZXZQxS3d6NpR-eH_gdDwYA"></iframe>
        </div>

    <div class="clr-col-lg-3 clr-col-md-6 clr-col-12">
      <iframe 
          src="https://www.youtube.com/embed/live_stream?channel=UCZXZQxS3d6NpR-eH_gdDwYA"></iframe>
          </div>
  
        <div class="clr-col-lg-3 clr-col-md-6 clr-col-12">
      <iframe 
          src="https://www.youtube.com/embed/live_stream?channel=UCZXZQxS3d6NpR-eH_gdDwYA"></iframe>
          </div>
  
        <div class="clr-col-lg-3 clr-col-md-6 clr-col-12">
      <iframe 
          src="https://www.youtube.com/embed/live_stream?channel=UCZXZQxS3d6NpR-eH_gdDwYA"></iframe>
          </div> 
          
        <div class="clr-col-lg-3 clr-col-md-6 clr-col-12">
      <iframe 
          src="https://www.youtube.com/embed/live_stream?channel=UCZXZQxS3d6NpR-eH_gdDwYA"></iframe>
          </div>
          
          <div class="clr-col-lg-3 clr-col-md-6 clr-col-12">
            <iframe 
                src="https://www.youtube.com/embed/live_stream?channel=UCZXZQxS3d6NpR-eH_gdDwYA"></iframe>
                </div>
        
              <div class="clr-col-lg-3 clr-col-md-6 clr-col-12">
            <iframe 
                src="https://www.youtube.com/embed/live_stream?channel=UCZXZQxS3d6NpR-eH_gdDwYA"></iframe>
                </div>
        
              <div class="clr-col-lg-3 clr-col-md-6 clr-col-12">
            <iframe 
                src="https://www.youtube.com/embed/live_stream?channel=UCZXZQxS3d6NpR-eH_gdDwYA"></iframe>
                </div> 
        
              <div class="clr-col-lg-3 clr-col-md-6 clr-col-12">
            <iframe 
                src="https://www.youtube.com/embed/live_stream?channel=UCZXZQxS3d6NpR-eH_gdDwYA"></iframe>
                </div>
            
      

           </div>
           </div>
          </div>
        </div>
      </div>
      </div>

 
