<header class="header">
    Video overzicht
  </header>

  <iframe type="text/html" width="854" height="480" src="https://www.youtube.com/embed/live_stream?channel=UCVtdo4OmU52nCGX9NcOesAw&autoplay=1" ></iframe>  

  <div class="stream-recent">
    <header>Meest recent</header>
        <iframe type="text/html" width="320" height="240"
            src="https://www.youtube.com/embed/live_stream?channel=UCZXZQxS3d6NpR-eH_gdDwYA"></iframe>

        <iframe type="text/html" width="320" height="240"
            src="https://www.youtube.com/embed/live_stream?channel=UCZXZQxS3d6NpR-eH_gdDwYA"></iframe>

        <iframe type="text/html" width="320" height="240"
            src="https://www.youtube.com/embed/live_stream?channel=UCZXZQxS3d6NpR-eH_gdDwYA"></iframe>

        <iframe type="text/html" width="320" height="240"
            src="https://www.youtube.com/embed/live_stream?channel=UCZXZQxS3d6NpR-eH_gdDwYA"></iframe>

</div>

<div class="stream-all">
    <header>Alle streams</header>
    <iframe type="text/html" width="320" height="240"
        src="https://www.youtube.com/embed/live_stream?channel=UCZXZQxS3d6NpR-eH_gdDwYA"></iframe>

    <iframe type="text/html" width="320" height="240"
        src="https://www.youtube.com/embed/live_stream?channel=UCZXZQxS3d6NpR-eH_gdDwYA"></iframe>

    <iframe type="text/html" width="320" height="240"
        src="https://www.youtube.com/embed/live_stream?channel=UCZXZQxS3d6NpR-eH_gdDwYA"></iframe>

    <iframe type="text/html" width="320" height="240"
        src="https://www.youtube.com/embed/live_stream?channel=UCZXZQxS3d6NpR-eH_gdDwYA"></iframe>

    <iframe type="text/html" width="320" height="240"
        src="https://www.youtube.com/embed/live_stream?channel=UCZXZQxS3d6NpR-eH_gdDwYA"></iframe>

    <iframe type="text/html" width="320" height="240"
        src="https://www.youtube.com/embed/live_stream?channel=UCZXZQxS3d6NpR-eH_gdDwYA"></iframe>

    <iframe type="text/html" width="320" height="240"
        src="https://www.youtube.com/embed/live_stream?channel=UCZXZQxS3d6NpR-eH_gdDwYA"></iframe>

    <iframe type="text/html" width="320" height="240"
        src="https://www.youtube.com/embed/live_stream?channel=UCZXZQxS3d6NpR-eH_gdDwYA"></iframe>

    <iframe type="text/html" width="320" height="240"
        src="https://www.youtube.com/embed/live_stream?channel=UCZXZQxS3d6NpR-eH_gdDwYA"></iframe>

    <iframe type="text/html" width="320" height="240"
        src="https://www.youtube.com/embed/live_stream?channel=UCZXZQxS3d6NpR-eH_gdDwYA"></iframe>

    <iframe type="text/html" width="320" height="240"
        src="https://www.youtube.com/embed/live_stream?channel=UCZXZQxS3d6NpR-eH_gdDwYA"></iframe>

    <iframe type="text/html" width="320" height="240"
        src="https://www.youtube.com/embed/live_stream?channel=UCZXZQxS3d6NpR-eH_gdDwYA"></iframe>
</div>


