.chat-placement{
    float:left;
    margin-left: 5%;
}

.main-video-placement{
    float:left;
}

.video-list{
    margin-top: 5%;
    float:left;
}

.header {
    padding: 60px;
    text-align: center;
    background: #1abc9c;
    color: white;
    font-size: 30px;
  }