<a (click)="openXl(content)"> <img id="vogelpic" [src]="src"></a>

<ng-template #content let-modal>
    <div class="modal-header">
      <h4 class="modal-title">{{name}}</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <div [innerHTML]="description"></div>
        <img src="{{src}}">
        <ngx-charts-line-chart
        [view]="view"
        [scheme]="colorScheme"
        [results]="GewichtObject"
        [gradient]="true"
        [xAxis]="true"
        [yAxis]="true"
        [legend]="true"
        [showXAxisLabel]="true"
        [showYAxisLabel]="true"
        [xAxisLabel]="'Tijd'"
        [yAxisLabel]="'Aantal detecties'"
        [autoScale]="true"
        [timeline]="true"
        (select)="onSelect($event)">
        </ngx-charts-line-chart>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-light" (click)="modal.close('Close click')">Sluiten</button>
    </div>
  </ng-template>