<div class="stream-recent">
    <header>Meest recent</header>
        <iframe type="text/html" width="320" height="240"
            src="https://www.youtube.com/embed/live_stream?channel=UCIR_LPmEQ9QHR0yB2lxgaxQ&autoplay=1"></iframe>

        <iframe type="text/html" width="320" height="240"
            src="https://www.youtube.com/embed/live_stream?channel=UCIR_LPmEQ9QHR0yB2lxgaxQ&autoplay=1"></iframe>

        <iframe type="text/html" width="320" height="240"
            src="https://www.youtube.com/embed/live_stream?channel=UCIR_LPmEQ9QHR0yB2lxgaxQ&autoplay=1"></iframe>

        <iframe type="text/html" width="320" height="240"
            src="https://www.youtube.com/embed/live_stream?channel=UCIR_LPmEQ9QHR0yB2lxgaxQ&autoplay=1"></iframe>

</div>

<div class="stream-all">
    <header>Alle streams</header>
    <iframe type="text/html" width="320" height="240"
        src="https://www.youtube.com/embed/live_stream?channel=UCIR_LPmEQ9QHR0yB2lxgaxQ&autoplay=1"></iframe>

    <iframe type="text/html" width="320" height="240"
        src="https://www.youtube.com/embed/live_stream?channel=UCIR_LPmEQ9QHR0yB2lxgaxQ&autoplay=1"></iframe>

    <iframe type="text/html" width="320" height="240"
        src="https://www.youtube.com/embed/live_stream?channel=UCIR_LPmEQ9QHR0yB2lxgaxQ&autoplay=1"></iframe>

    <iframe type="text/html" width="320" height="240"
        src="https://www.youtube.com/embed/live_stream?channel=UCIR_LPmEQ9QHR0yB2lxgaxQ&autoplay=1"></iframe>

    <iframe type="text/html" width="320" height="240"
        src="https://www.youtube.com/embed/live_stream?channel=UCIR_LPmEQ9QHR0yB2lxgaxQ&autoplay=1"></iframe>

    <iframe type="text/html" width="320" height="240"
        src="https://www.youtube.com/embed/live_stream?channel=UCIR_LPmEQ9QHR0yB2lxgaxQ&autoplay=1"></iframe>

    <iframe type="text/html" width="320" height="240"
        src="https://www.youtube.com/embed/live_stream?channel=UCIR_LPmEQ9QHR0yB2lxgaxQ&autoplay=1"></iframe>

    <iframe type="text/html" width="320" height="240"
        src="https://www.youtube.com/embed/live_stream?channel=UCIR_LPmEQ9QHR0yB2lxgaxQ&autoplay=1"></iframe>

    <iframe type="text/html" width="320" height="240"
        src="https://www.youtube.com/embed/live_stream?channel=UCIR_LPmEQ9QHR0yB2lxgaxQ&autoplay=1"></iframe>

    <iframe type="text/html" width="320" height="240"
        src="https://www.youtube.com/embed/live_stream?channel=UCIR_LPmEQ9QHR0yB2lxgaxQ&autoplay=1"></iframe>

    <iframe type="text/html" width="320" height="240"
        src="https://www.youtube.com/embed/live_stream?channel=UCIR_LPmEQ9QHR0yB2lxgaxQ&autoplay=1"></iframe>

    <iframe type="text/html" width="320" height="240"
        src="https://www.youtube.com/embed/live_stream?channel=UCIR_LPmEQ9QHR0yB2lxgaxQ&autoplay=1"></iframe>
</div>


