<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link href="https://use.fontawesome.com/releases/v5.0.1/css/all.css" rel="stylesheet">


<loading *ngIf="isLoading">{{ isLoading }}</loading>

<div class="clr-row">
<div class="clr-col-12">
<div class="card">
<div class="card-header">
	<div>Birdnet algoritme</div>
</div>
<div style="padding: 15px;">
	<div>
		<div class="dropzone" fileDragDrop (filesChangeEmiter)="onFileChange($event)">
			<div class="text-wrapper">
				<div class="centered">
					<input type="file" name="file" id="file" (change)="onFileChange($event.target.files)" [clrLoading]="submitBtnState" accept=".mp3,audio/*" single>
					<label for="file"><span class="textLink">Selecteer je bestand</span> of sleep het hiernaartoe!</label>
				</div>
			</div>
		</div>
	</div>
	<br> <br>
	<div *ngIf="shouldShow" class="chart-bar-container">
		<ngx-charts-bar-horizontal
		[view] = "chartSize"
		[results]="predictionlist"
		[xAxisLabel]="'Procent kans'"
		[legendTitle]="'Legenda'"
		[yAxisLabel]="'Vogelsoort'"
		[legend]="true"
		[showXAxisLabel]="true"
		[showYAxisLabel]="true"
		[xAxis]="true"
		[yAxis]="true"
		[gradient]="false">
		</ngx-charts-bar-horizontal>
	</div>
	<!--
	<div>
		<mat-list>
			<h3 mat-subheader>Files</h3>
			<mat-list-item *ngFor="let file of files">
				<mat-icon mat-list-icon>folder</mat-icon>
				<h4 mat-line>{{file.name}}</h4>
				<button mat-raised-button color="warn" (click)="deleteFile(file)">Delete</button>
				<mat-divider></mat-divider>
			</mat-list-item>
		</mat-list>
	</div>
  -->
</div>
</div>
</div>
</div>