<h3> Gedetecteerde vogels per soort - Afgelopen maand</h3>
  <ngx-charts-bar-vertical
    [view]="[800,300]"
    [results]="surveyData"
    [xAxisLabel]="'Aantal'"
    [legendTitle]="'Legenda'"
    [yAxisLabel]="'Soort vogel'"
    [legend]="true"
    [showXAxisLabel]="true"
    [showYAxisLabel]="true"
    [xAxis]="true"
    [yAxis]="true"
    [gradient]="true">
  </ngx-charts-bar-vertical>
<br>

<div style="display: inline-block">
    <ngx-charts-line-chart
      [view]="[800,300]"
      [scheme]="colorScheme"
      [results]="multi"
      [gradient]="gradient"
      [xAxis]="showXAxis"
      [yAxis]="showYAxis"
      [legendTitle]="'Legenda'"
      [legend]="showLegend"
      [showXAxisLabel]="showXAxisLabel"
      [showYAxisLabel]="showYAxisLabel"
      [xAxisLabel]="xAxisLabel"
      [yAxisLabel]="yAxisLabel"
      [autoScale]="autoScale"
      [timeline]="timeline">
    </ngx-charts-line-chart>
  </div>


    <div style="display: inline-block">
    <ngx-charts-pie-chart
    [view]="view"
    [scheme]="colorScheme"
    [results]="single"
    [legendTitle]="'Legenda'"
    [legend]="showLegend"
    [explodeSlices]="explodeSlices"
    [labels]="showLabels"
    [doughnut]="doughnut"
    [gradient]="gradient">
  </ngx-charts-pie-chart>