    <div class="chart-pie-container" style="display: inline-block">
    <ngx-charts-pie-chart
    [scheme]="colorScheme"
    [results]="single"
    [legendTitle]="'Legenda'"
    [legend]="showLegend"
    [explodeSlices]="explodeSlices"
    [labels]="showLabels"
    [doughnut]="doughnut"
    [gradient]="gradient">
  </ngx-charts-pie-chart>
  <div>
  
  <div class="chart-bar-container">
  <ngx-charts-bar-vertical
    [results]="surveyData"
    [xAxisLabel]="'Aantal'"
    [legendTitle]="'Gedetecteerde vogels per soort - Afgelopen maand'"
    [yAxisLabel]="'Soort vogel'"
    [legend]="true"
    [showXAxisLabel]="true"
    [showYAxisLabel]="true"
    [xAxis]="true"
    [yAxis]="true"
    [gradient]="false">
  </ngx-charts-bar-vertical>
</div>

<div class="chart-line-container" style="display: inline-block">
    <ngx-charts-line-chart
      [view]="[800,300]"
      [scheme]="colorScheme"
      [results]="multi"
      [gradient]="gradient"
      [xAxis]="showXAxis"
      [yAxis]="showYAxis"
      [legendTitle]="'legenda'"
      [legend]="showLegend"
      [showXAxisLabel]="showXAxisLabel"
      [showYAxisLabel]="showYAxisLabel"
      [xAxisLabel]="xAxisLabel"
      [yAxisLabel]="yAxisLabel"
      [autoScale]="autoScale"
      [timeline]="timeline">
    </ngx-charts-line-chart>
  </div>


