<div class="statistic-container">

 <!-- <div class="clr-row">
    <div class="clr-col-12">
      <div class="card">
        <div class="card-header">
      Algemene statistieken
      </div>
      </div>
    </div>
  </div> -->


<div class="first-row">
 <div class="clr-row">
     <div class="clr-col-lg-4 clr-col-md-8 clr-col-12">   
       <div class="card">
         <div class="card-header">
           <div class="first-header">
           Totale aanwezigheid</div>
         </div>
         <div class="card-block">
           <div class="card-text">
             32
           </div>
         </div>
         <div class="card-footer">
          <cds-icon shape="exclamation-circle"></cds-icon>
             <div>Registraties 11/5/2021</div>
         </div>
       </div>
     </div>
     <div class="clr-col-lg-8 clr-col-md-8 clr-col-12">
       <div class="card">
         
         <div class="card-header">
           Activiteit Faunatorens
         </div>
         <div class="card-block">
           <div #containerRef class="wrapper">
           <div  class="chart-container">
            <ngx-charts-bar-horizontal
            [view]="[containerRef.offsetWidth, containerRef.offsetHeight]"
            [scheme]="colorScheme"
            [legend]="false"
            [showXAxisLabel]="showXAxisLabel"
            [showYAxisLabel]="showYAxisLabel"
            [xAxis]="xAxis"
            [yAxis]="yAxis"
            [xAxisLabel]="xAxisLabel"
            [yAxisLabel]="yAxisLabel"
            [results]="surveyData">
            </ngx-charts-bar-horizontal>
           </div>
         </div>
         </div>
         <div class="card-footer">
             <div>Registraties 11/5/2021</div>
         </div>
       </div>
     </div>    
   </div>
</div>

  <div class="clr-row">
    <div class="clr-col-lg-4 clr-col-md-8 clr-col-12">
      <div class="card">
        <div class="card-header">
          <div>Toren 1<a>14</a></div>
          <div>vogeltelling</div>
        </div>
        <div class="card-block">
          <div>Bekijk de livestream</div>
          <div class="card-text">
            <iframe type="text/html" width="100%" height="100%" src="https://www.youtube.com/embed/live_stream?channel=UC-0uK90U1sH5A_2dHYVVm5Q&autoplay=1" ></iframe>
          </div>
        </div>
      </div>
    </div>

    <div class="clr-col-lg-4 clr-col-md-8 clr-col-12">
      <div class="card">
        <div class="card-header">
          <div>Toren 2<a>8</a></div>
          <div>vogeltelling</div>
        </div>
        <div class="card-block">
           <div>Bekijk de livestream</div>
          <div class="card-text">
            <iframe type="text/html" width="100%" height="100%" src="https://www.youtube.com/embed/live_stream?channel=UCuL60_Ko4m9xCaa4QDNgJrw&autoplay=1" ></iframe>
          </div>
        </div>
      </div>
    </div>

    <div class="clr-col-lg-4 clr-col-md-8 clr-col-12">
      <div class="card">
        <div class="card-header">
          <div>Toren 3<a>10</a></div>
          <div>vogeltelling</div>
         
          </div>
        <div class="card-block">
          <div>Bekijk de livestream</div>
          <div class="card-text">
            <iframe type="text/html" width="100%" height="100%" src="https://www.youtube.com/embed/live_stream?channel=UCVtdo4OmU52nCGX9NcOesAw&autoplay=1" ></iframe>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>