.statistic-container {
    margin-top: -4em;
}

.color-test{
    background-color: var(--torenC);
}

.clr-row {
    border-color: var(--backgroundcolor);
    padding: 10pt;
    & .card {
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        min-height: 100%;
    }
    & .card-header{
        font-size: 2em;
        padding: 25pt;
        color: var(--hyperlink);
        text-align: center;
    }
}

iframe {
    width: 1px;
    min-width: 100%;
    border-radius: 5px;
    border-color: var(--hyperlink);
  }

.total-count{
  float:right;
  font-size: 4em;
  text-align: right;
  color: var(--torenA);
}

.first-row {
    .clr-row {
        //height: 400em;
        //width: 35em;
        //border: 20px;
        border-color: var(--backgroundcolor);
        //position: absolute;
        padding: 10pt;
        & .card {
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
            min-height: 100%;
        }
        & .card-header{
            font-size: 2em;
            padding: 20pt;
            color: var(--hyperlink);
            text-align: center;
        }
        & .first-header {
            text-align: center;
        }
        // & .card-block {
        //     font-size: 2em;
        // }
        & .card-text {
            font-size: 4em;
            margin: 1em auto;
            text-align: center;
            color: var(--torenA);
        }
        & .card-footer {
            font-size: 1em;
            color: var(--highlightselect);
            text-align: center;
        }
      }
}

// .chart-container {
//     padding: 1em;
//     margin: 1em auto;
// }

.ngx-charts-bar-horizontal {
    display: inline-block;
    padding: 2em;
  }

  .wrapper {
    display: flex;
    flex-wrap: wrap;
}

.clr-row {
  //height: 400em;
  //width: 35em;
  //border: 20px;
  border-color: var(--backgroundcolor);
  //position: absolute;
  padding: 10pt;
  & .card {
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
      min-height: 100%;
  }
  & .card-header{
      max-height: 100%;
      font-size: 2em;
      color: var(--highlightselect);
      text-align: left;
      & a {
          color: var(--hyperlink);
          font-size: 1.5em;
          float: right;
      }
  }
  & .card-block {
      font-size: 1em;
      padding: 5pt;
      text-align: center;
  }
  & .card-text {
      width: 100%;
      padding: 20pt;
      text-align: center;
      color: var(--torenA);
  }
  & .card-footer {
      font-size: 1em;
      color: var(--highlightselect);
      text-align: center;
  }
}
