$textcolor: #000000;

$backgroundcolor: #D8FEE7;

$iconcolor: #058A45;
$iconfont: 'Arial';

$hyperlink: #036316;

$highlightselect: #023B0A;

$torenA: #FF5400;
$torenB: #A26D1E;       
$torenC: #0F80F1;

header {
    background-color: white;
}

.branding {
    .title {
        color: $textcolor;
    }
    clr-icon {
        color: $iconcolor;
        margin-left: 10%;
    }

}

span {
    &[class=nav-text] {
        color: $textcolor;
    }
}

.header-actions {
    clr-icon {
        color: $iconcolor;
        font-family: $iconfont;
        
    }
}

img {
    position: relative; left: 10%;
}

.content-container {
    background-color: $backgroundcolor;
    color: $textcolor;
    a {
        color: $textcolor;
        font: $iconfont;
    }
    clr-icon {
        color: $iconcolor;
    }
}



