header {
    background-color: white;
}

.clr-vertical-nav{
    background-color: var(--backgroundcolor);
}

.branding {
    .title {
        color: var(--textcolor);
    }
    clr-icon {
        color: var(--iconcolor);
        margin-left: 10%;
    }

}

span {
    &[class=nav-text] {
        color: var(--textcolor);
    }
}

.header-actions {
    clr-icon {
        color: var(--iconcolor);
        font-family: var(--iconfont);
        
    }
}

img {
    position: relative; left: 10%;
}

.content-container {
    background-color: white;
    color: var(--textcolor);
    a {
        color: var(--textcolor);
        background-color: var(--backgroundcolor);
        font: var(--iconfont);
    }
    clr-icon {
        color: var(--iconcolor);
    }
}




