<clr-main-container>
 
  <header class="header-6">
    <div class="branding">
      <a href="javascript://" class="nav-link">
        <clr-icon shape="home"></clr-icon>
        <span class="title">Project Faunatoren</span>
      </a>
    </div>
    <div class="header-actions">
      <a href="javascript://" class="nav-link nav-icon-text">
        <clr-icon shape="user"></clr-icon>
        <span class="nav-text">Admin</span>
      </a>
    </div>
  </header>
  
  <i class="fas fa-chart-pie"></i>
  <div class="content-container">
    <div class="content-area">
      <router-outlet></router-outlet>
    </div>

    <clr-vertical-nav [clr-nav-level]="2">
      <a clrVerticalNavLink routerLink="overzicht" routerLinkActive="active"><clr-icon shape="home"></clr-icon>Livestream overzicht</a>
      <a clrVerticalNavLink routerLink="statistieken" routerLinkActive="active"><clr-icon shape="align-bottom"></clr-icon>Fauna statistieken</a>
      <a clrVerticalNavLink routerLink="category" routerLinkActive="active"><clr-icon shape="filter"></clr-icon>Fauna toren 1</a>
      <a clrVerticalNavLink routerLink="prize" routerLinkActive="active"><clr-icon shape="filter"></clr-icon>Fauna toren 2</a>
      <a clrVerticalNavLink routerLink="question" routerLinkActive="active"><clr-icon shape="filter"></clr-icon>Fauna toren 3</a>

    </clr-vertical-nav>

  </div>
</clr-main-container>