<clr-main-container>
  <clr-header>

    <div class="branding">
      <a routerLink="dashboard" class="nav-link">
        <img src="assets/img/Faunatoren.png" alt="Faunatoren foto">
        <span class="title">Faunatoren dashboard</span>
      </a>
    </div>

  </clr-header>
  <i class="fas fa-chart-pie"></i>
  <div class="content-container">
    <div class="content-area">
      <router-outlet></router-outlet>
    </div>

    <clr-vertical-nav [clr-nav-level]="2">
      <a clrVerticalNavLink routerLink="overzicht" routerLinkActive="active"><clr-icon shape="home"></clr-icon>Livestream overzicht</a>
      <a clrVerticalNavLink routerLink="businessfair" routerLinkActive="active"><clr-icon shape="align-bottom"></clr-icon>Fauna statistieken</a>
      <a clrVerticalNavLink routerLink="category" routerLinkActive="active"><clr-icon shape="filter"></clr-icon>Fauna toren 1</a>
      <a clrVerticalNavLink routerLink="prize" routerLinkActive="active"><clr-icon shape="filter"></clr-icon>Fauna toren 2</a>
      <a clrVerticalNavLink routerLink="question" routerLinkActive="active"><clr-icon shape="filter"></clr-icon>Fauna toren 3</a>

    </clr-vertical-nav>

  </div>
</clr-main-container>